
// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html {
	width:100%;
  	height: 100%;

}

body{
	background-color: white;
}

.header{
	position:fixed;
	top:0;
	background-color: white;
	clear:both;
	width:100%;
	z-index: 99999;
}

.header-logo{
	display:inline-block;
	float:left;
	z-index: 99999;
	position:fixed;
	clear:both;
	left:100px;
	top:5px;
}

.logo-bar-foot{
	display: inline-block;
    width: 100%;
}

.main-container {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.main-container section{
	float:right;
	display:inline-block;
	position: relative;
}

.main-footer{
	position:absolute;
    width: 100%;
    background-color: black;
    padding-bottom: 25px;
}


.nav-menu{
	width:80%;
	float:right;
}

.menu-item{
	float:left;
	list-style: none;
	color:none;
	padding-top:25px;
	padding-bottom:10px;
}

.menu-item a{
	color:grey;
	padding:15px; 
}

#menu-item-9{
	height:100%;
}

#menu-item-32{
	float:right;
	position:relative;
	padding-right: 100px;

}

#menu-item-32 a{
    color: #fff;
    float: right;
    background-color: green;
    border-radius: 10%;
    padding: 5px 0 7px 0;
    width: 150px;
    text-align: center;
}

.left-footer{
	display:inline-block;
	width:40%;
	float:left;
	padding-left:10%;
}

.left-footer div{
	float:left;
	position:relative;
	clear:both;
	padding-top: 25px;
}

.footer-right{
	display:inline-block;
	width:40%;
	float:right;
	padding-right:10%;
}

.footer-right div{
	float:left;
	position:relative;
	clear:both;
	padding-top: 25px;
}

.email-field{
    display: inline-block;
    float: left;
    width: 225px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.email-submit{
    display: inline-block;
    float: left;
    margin-left: 45px;
    width: 100px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5.5px;
}


.home-bannerz{
	margin-top: 50px;
	width:100%;
	background: rgba(0, 0, 0, 0.5);
}


.home-bannerz img{
	position:absolute;
	top:0;
	z-index: -1;
	width:100%;
	height:150%;
}


.home-giant-menu{
	background-color: green;
	width:100%;
	clear:both;
	float:right;
}

.big-menu{
	display: inline-block;
	float:left;
	background-color: #36454F;
	width:33.3%;

}

.home-services-but{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	border:1px red solid;
	width:150px;
	text-align: center;
	border-radius: 10%;
	background-color: red;
	margin-bottom: 200px;
	margin-top: 40px;
}

.home-services-but p{
	padding:5px 0px 0px 0px;
	color:white;	
}

.home-banner-text,.big-banner-text{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	color:white;
	font-size:36px;
	text-align: center;
	padding-top: 200px;
	padding-bottom:50px;

}

.big-banner-text{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	color:white;
	font-size:36px;
	text-align: center;
	padding-top: 150px;
	padding-bottom:150px;
}

.big-icon{
	position:relative;
	padding: 25% 0px 25% 25%;
	clear:both;
}

.big-icon-hover{
    position: absolute;
    z-index: -1;
    border: 1px solid #000;
    border-radius: 50%;
    height: 39%;
    width: 43%;
    top: 126px;
    left: 171px;
    background-color: #000;
}

.big-banner{
	margin-top: 50px;
	width:100%;
	background-color: #36454F;

}

.big-banner-border-line{
	position:absolute;
	bottom:0;
	margin-left:20%;
	width:60%;
	border-radius: 80%;
	border:2px solid grey;

}

.services-mobile{
	clear:both;
	width:100%;
	height:500px;
	background-color:purple;
}

.services-middle{
	display:inline-block;
	width:100%;

}

.services-middle-text{
	display:inline-block;
	width:50%;
	float:left;
	background-color: #36454F;
}

.services-laptop{
	display:inline-block;
	width:50%;
	float:left;
	background-color: #36454F;
}