
.about-leadership{
	background-color: $light-grey;
	padding:10% 0 10% 0 ;
}

.leadership-left{
	display: inline-block;
	width:45%;
	padding-left:5%;
	float:left;
}

.leadership-right{
	display: inline-block;
	width:40%;
	padding-right:10%;
	float:right;
}

.leader-profile{
	position: relative;
}

.leader-info{
    display: inline-block;
    float: left;
    width: 74%;
    padding-left: 4%;
}

.leadership-headline,.leadership-paragraph{
	padding-right: 4%;
}

.leadership-paragraph{
	font-size: 20px;
	font-family: 'DIN';
	letter-spacing: -0.44px;
}

.leader-name{
	padding-top: 5%;
	font-family: 'DIN-med-alt';
	font-size:24px;
	letter-spacing: 1.5px;
}

.leadership-headline{
	padding-top: 5%;
	font-size: 44px;
	font-family: 'DIN-bold';
	letter-spacing: -0.6px;
}

.leader-title{
	font-size: 15px;
	font-family: 'DIN';
	margin-top: -5%;
	letter-spacing: 6px;
}

.leader-image{
	position:relative;
	display:inline-block;
	float:left;
	height:100px;
	width:100px;
	margin-bottom: 10px;
	background-color: red;
	clear:both;
}

.leader-blurb{
	font-size: 14px;
	font-family: 'DIN';
	padding-right: 30%;
	letter-spacing: 2px;
}

.about-us-image{
	width:100%;
	height:100%;
    background: url(../images/levels.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    left: 10%;
    z-index: 0;
}

.services-laptop.AB{
	height:30em;
}

