
.about-leadership{
	background-color: $light-grey;
	padding:10% 5% 10% 5% ;
}

.leadership-left{
	display: inline-block;
	width:45%;
	float:left;
}

.leadership-right{
	display: inline-block;
	width:45%;
	float:right;
}

.leader-profile{
	position: relative;
	width:100%;
	overflow: hidden;
}

.leader-info{
    display: inline-block;
    float: left;
    width: 44%;
    padding-left: 5%;
}

.leadership-headline,.leadership-paragraph{
	padding-right: 4%;
}

.leadership-paragraph{
	font-size: 20px;
	font-family: 'DIN';
	letter-spacing: -0.44px;
}

.leader-name{
	font-family: 'DIN-med-alt';
	font-size:24px;
	letter-spacing: 1.5px;
	padding-top: 50%;
	color:white !important;
}

.leadership-headline{
	padding-top: 5%;
	font-size: 44px;
	font-family: 'DIN-bold';
	letter-spacing: -0.6px;
}

.leader-title{
	font-size: 15px;
	font-family: 'DIN';
	margin-top: -11%;
	letter-spacing: 6px;
	color:white !important;
}

.leader-image{
	position:relative;
	display:inline-block;
	float:left;
	height:200px;
	width:175px;
	margin-bottom: 10px;
	clear:both;
}

.leader-image-wp{
	width:100%;
	height:100%;
}

.leader-blurb{
	font-size: 14px;
	font-family: 'DIN';
	padding-right: 30%;
	margin-top: -10%;
	letter-spacing: 2px;
	position: relative;
	overflow: hidden;

}

.leader-info p{
	color: $light-blue;

}

.about-us-image{
	width:100%;
	height:100%;
    background: url(../images/levels.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    left: 10%;
    z-index: 0;
}

.services-laptop.AB{
	height:30em;
}

