.contact-us-location{
	width:100%;
	height:100%;
    background: url(../images/contact_us_map.png); 
    background-size: cover;
    background-repeat: no-repeat;
    left:0;
    z-index: 0;
    clear:both;
}

.contact-us-info{
	float:left;
	width:40%;
	padding:15% 0 15% 5%;
    background: rgba(45, 45, 56, 0.83);
    position: relative;
    z-index: 1;

}

.contact-us-form {
	width:100%;
	padding: 0px 0% 8% 0%;
	background-color: $light-grey;
}

.contact-us-form input,.contact-us-form textarea{
	float:left;
	position: relative;
	display: inline-block;
    background-color: transparent;
    border:1px solid $light-blue;
    color:$light-blue;
    padding:1% 5% 1% 0; 
    margin-right:1%; 
}



.contact-form{
	padding: 2% 10% 0 15%;
}


.form-text-contactus{
	width:80%;
	margin-left:10%;
	margin-right: 10%;
	text-align: center;
	position: relative;
}

.contact-name{
	width:50%;
}
.contact-name input{
	width:90%;
}

.contact-email{
	width: 50%;
}
.contact-email input{
	width: 90%;
}

.contact-comment{
	width:100%;
	clear:both;
}
.contact-comment textarea{
	width:93%;
	margin-top: 1%;
	height:100px;
	clear:both;
}

.contact-submit{
	position: relative;
	width:40%;
	margin-top: 20px;
}

.contact-submit input{
	position:relative;
	width:100px;
	text-align: center;
	border-radius: 5px;
	padding:2% 0 2% 0;
	background-color: #990000;
	border:none;
	color:white;

}

