/*FOOTER TABLET*/

.social-media{
    width:100%;

}

.icon-oval-sm{
    margin-right: 11.5%;

}

.address-bar-foot{
	font-size: 14px;
	padding-left:0;
	text-align: left;
	width:inherit;
	width:50%;
	line-height: 20px;

}

.phone-bar-foot{
	width:100%;
	top:0;
	padding:0;
	margin-top: -6%;
	text-align: left;

}

.phone-bar-foot p, .address-bar-foot p{
	color:$light-blue;
}