html,body{
	color:$egg-white;
	width:100%;
	height:100%;
	overflow-x: hidden;
	margin:0;
	padding:0;

}

::-webkit-scrollbar { 
    display: none; 
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

ul{
	list-style: none;
}

li,a{
	list-style: none;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.left{
	float:left;
}

.right{
	float:right;
}

.light{
	background: $light-grey;
}

.dark{
	background: $dark-grey;
}

.current_page_item a{
	color:#A12D3A;
}


.main-container {
	height:100%;
	width:100%;
}

.main-container section{
	float:right;
	position: relative;
}


.light-blue-text{
	color:$light-blue;
}

.white-text{
	color:#E2E7EC;
}

.fa-caret-down{
	color:$egg-white;
}

.fa-plus{
	font-size:9px !important;
}


.big-banner{
	width:100%;
	background-color:$dark-grey;

}

.big-banner-text{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	color:#E2E7EC;
	font-size:42px;
	text-align: center;
	padding-top: 15%;
	padding-bottom:15%;
	font-family: 'Century';
	letter-spacing: 0.52px;
}

.big-banner-border-line{
	position:absolute;
	bottom:0;
	margin-left:20%;
	width:60%;
	border-radius: 80%;
	border:2px solid grey;

}

