.home-bannerz{
	width:100%;
	background: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)), url(../images/stock_background.png); 
    background-size: 100% 150%;
    background-repeat: no-repeat;
}


.home-giant-menu{
	background-color: #282B32;
	width:100%;
	clear:both;
	float:right;
}

.big-menu{
	display: inline-block;
	float:left;
	background-color: #282B32;
	width:33.3%;

}

.home-services-but{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:150px;
	text-align: center;
	border-radius: 10px;
	background-color: #990000;
	margin-bottom: 15%;
	margin-top: 5%;
}

.home-services-but p{
	padding:8% 0px 8% 0px;
	color:white;	
}

.home-banner-text {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	color:#E2E7EC;
	font-size:36px;
	text-align: center;
	padding-top: 10%;
}

.big-banner-text{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	color:#E2E7EC;
	font-size:36px;
	text-align: center;
	padding-top: 15%;
	padding-bottom:15%;
}

.big-icon{
	position:relative;
	padding: 25% 0px 25% 25%;
	clear:both;
}

.big-icon img{
	position:relative;
	width:72%;
	clear:both;
	z-index:1;
}

.big-icon-hover{
    position: absolute;
    z-index:-1;
    border-radius: 50%;
    height: 45%;
    width: 53%;
    margin-top: -69%;
    background-color: #28AE7B;
}