/*HOME MOBILE*/


	.home-bannerz{
		width:90%;
		padding:10% 5% 0 5%; 
	}

	.home-banner-text {
		width:70%;
		font-size:26px;
		letter-spacing: 0.52px;
		line-height: 34px;
	}

	.home-services-but{
		width:200px;
		margin-top: 15%;
		font-family: 'DIN';
		font-size: 16px;
	}

	.big-menu{
	    width: 100%;
	    padding: 0;
	}

	.big-icon{
		padding: 5% 0 10% 20%;
	}

	.big-icon-hover{
		display:none;
	}

	.home-giant-menu{
		padding: 10% 0 10% 0;
	}

	.big-icon img{
		left:1%;
	}

