
.interest-table{
	width: 100%;
    display: inline-block;
    clear: both;
    min-height: 65vh;
    background-color: #23252C;
}

.interest-column-names{
	width:90%;
	background:$egg-white;
	float:left;
	position:relative;
	font-size: 13px;
	font-family: 'DIN-bold';
	color:$dark-blue;
	padding:0 5% 0 5%;
}

.interest-column-names div{
	display: inline-block;
	position:relative;
}

.put.OI{
	float:right;
	right:3.5%;
}

.call.OI{
	float:left;
	left:1.5%;
}

.strike.OI{
	left:44%;
}

.grapher-object{
	width:90.40%;
	clear:both;
	border-bottom:1px solid rgba(62, 90, 90, 0.56);
	clear:both;
	padding: 0 4.80% 0 4.80%;
	overflow: hidden;
}

.grapher-object div{
	display:inline-block;
	z-index: 0;
	position: relative;
	float:left;
	font-size: 14.5px;
	letter-spacing: 0.56px;
	font-family: 'DIN';
	color:$light-blue;
	text-align: center;
	padding: .5% 0 .5% 0;
}


.number-call,.number-put{
	width:5.80%;
	border-right:1px solid rgba(62, 90, 90, 0.56);
	border-left:1px solid rgba(62, 90, 90, 0.56);
}

.number-put{
}

.number-strike{
	width:4.80%;
	border-right:1px solid rgba(62, 90, 90, 0.56);
	border-left:1px solid rgba(62, 90, 90, 0.56);

}

.meter-l,.meter-r{
	width:40.5%;
}

.bar-l,.bar-r{
	position:relative;
	z-index: 1;
	height:3em;
}

.bar-l{
	background:#4CA77C;
	-webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}

.bar-r{
	background:#A12D3A;
	-webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}

