.services-mobile{
	clear:both;
	width:100%;
	background-color: $light-grey;
}

.mobile-phones{
	width:80%;
	margin-right: 10%;
	margin-left:10%;
	position: relative;
	display: inline-block;
	clear:both;
}

.phone{
	display:inline-block;
	width:33%;
	clear:both;
}

.phone img{
	width:100%;
}

.phone-1{
	position: relative;
}

.phone-2{
	position: absolute;
    left: 0;
}

.phone-3{
	position:absolute;
	left:0;
}

.mobile-headline{
	width:100%;
	text-align: center;
	padding-top:10%;
	padding-bottom:10%;
	color:#E2E7EC;
	font-size: 36px;
	font-weight: bold;
	position:relative;
	font-family: 'Century';
	letter-spacing: 0.52px;
}

.mobile-headline p{
	padding:0px 10% 0px 10%;
}

.services-middle{
	display:inline-block;
	width:90%;
	padding: 10% 5% 10% 5%;
	background-color: $dark-grey;
	overflow: hidden;

}

.services-middle-text{
	display:inline-block;
	width:50%;
	float:left;
	background-color: $dark-grey;
}

.services-laptop{
	display:inline-block;
	position: relative;
	width:50%;
	float:right;
	right:0;
	background-color: $dark-grey;
}

.laptop-image{
	width:100%;
    background: url(../images/computer_bars.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    left: 10%;
    z-index: 0;


}

.services-headline,.services-paragraphs{
	float:left;
	position:relative;
	width:100%;
}

.services-headline {
	font-size: 36px;
	padding-top: 10%;
	font-family: 'DIN-bold';
	letter-spacing: -0.6px;
}

.services-paragraphs{
	font-size: 20px;
	font-family: 'DIN';
	letter-spacing: -0.44px;
}

.services-headline,.services-paragraphs{
	color:#E2E7EC;
}

.bar-animation{
	position: absolute;
    float: left;
    width: 28%;
    height: 4.37%;
}

.bar-animation.one-light{
    left: 42.7%;
    top: 51%;
    background-color: $light-grey;
}

.bar-animation.two-light{
    left: 42.7%;
    top: 41%;
    background-color: $light-grey;
}
.bar-animation.three-light{
    left: 42.7%;
    top: 31%;
    background-color: $light-grey;
}

.bar-animation.four-light{
    left: 42.7%;
    bottom: 17%;
    background-color: $light-grey;
    width: 28%;
    height: 2.37%;
}
.bar-animation.one-dark{
    left: 42.7%;
    top: 56%;
    background-color: $dark-grey;
}

.bar-animation.two-dark{
    left: 42.7%;
    top: 46%;
    background-color: $dark-grey;
}
.bar-animation.three-dark{
    left: 42.7%;
    top: 36%;
    background-color: $dark-grey;
}

.bar-animation.four-dark{
    left: 42.7%;
    bottom: 30%;
    background-color: $dark-grey;
    width: 28%;
    height: 4.37%;
}

.bar-animation.five-dark{
    left: 42.7%;
    top: 16%;
    background-color: $dark-grey;
}

.spread-bar{
	padding-top:100%;
}

.services-paragraphs p{
	padding-right: 5%;
}

