.trading-header{
	width:100%;
	background:$dark-grey;
}

.trading-title{
	position:relative;
	left:5%;
	font-family: 'DIN-bold';
	font-size: 22px;
	letter-spacing: 0.61px;
	line-height: 21px;
}

.trading-column-names{
	background:$egg-white;
	width:100%;
}

.trading-column-names div{
	display:inline-block;
	float:left;
	color:$dark-grey;
	position:relative;
	padding:0 0 0 4.5%;
	font-size: 13px;
	font-family: 'DIN-bold';
	color:$dark-blue;
	text-align: left;
}

.house-col{
	display:inline-block;
	position: relative;
	left:1%;
	width:13.7%;
}

.stock-object{
	width:100%;
	background-color: $light-grey;
	float:left;
	clear:both;
	border-bottom:1px solid rgba(62, 90, 90, 0.56);
	font-family: 'DIN';
	font-size: 14.5;
	letter-spacing: 0.75px;
}

.stock-object div{
	display:inline-block;
	text-align: left;
	padding-left:1%;
	float:left;
	color:$light-blue;
}

.middle-columns{
	display:inline-block;
	position:relative;
	width:50%;
}

.end-columns{
	display:inline-block;
	position:relative;
	width:20%;
	left:-10%;
}

.timestamp-col{
	position: absolute;
	float:right;
	left:46%;
}

.middle-columns div{
	float:left;
}

.trading-table{
	width:100%;
}

.table-blank-space.right,.buy-sell-space,.quantity-space,.codes-space,.strike-space,.cp-space,
.premium-space{
	width:4%;
	border-right:1px solid rgba(62, 90, 90, 0.56);
}
.timestamp-space,.spread-space,.comments-space{
	width:12.35%;
	border-right:1px solid rgba(62, 90, 90, 0.56);
}

.table-blank-space{
	width:4%;
	border-right:1px solid rgba(62, 90, 90, 0.56);
}

.table-blank-space{
	width:4%;
}
.table-blank-right{
	width:3%;
}
.house-space{
	width:18%;
	border-right:1px solid rgba(62, 90, 90, 0.56);
	border-left:1px solid rgba(62, 90, 90, 0.56);
}

