.trading-header{
	width:100%;
	background:$dark-grey;
}

.trading-title{
	position:relative;
	left:5%;
}

.trading-column-names{
	background:white;
	width:100%;
}

.trading-column-names div{
	display:inline-block;
	float:left;
	color:$dark-grey;
	position:relative;
	padding:0 0 0 4%;
}

.stock-object{
	width:100%;
	background-color: $light-grey;
}

.stock-object div{
	display:inline-block;
	border-right:1px solid $light-blue;
	border-bottom:1px solid $light-blue;
	text-align: left;
	float:left;
	color:$light-blue;
	font-size:12px;
}

.middle-columns{
	position:relative;
	left:11%;
	width:70%;
}

.middle-columns div{
	float:left;
}

.trading-table{
	width:100%;
	background-color:$light-grey;
}

.table-blank-space.right,.buy-sell-space,.quantity-space,.codes-space,.strike-space,.cp-space,
.premium-space{
	width:5%;
}
.timestamp-space,.spread-space,.comments-space{
	width:13.35%;
}

.table-blank-space{
	width:5%;
}

.table-blank-space .right{
	width:5%;
	border-right: 0px solid red;
}

.house-space{
	width:19%;
}

