.trading-header{
	width:90%;
	padding:0 5% 0 5%;
	background:$dark-grey;
}

.trading-title{
	position:relative;
	display:inline-block;
	width: 40%;
	font-family: 'DIN-bold';
	font-size: 22px;
	letter-spacing: 0.61px;
	line-height: 21px;
}

.trading-menu{
	position:relative;
	display:inline-block;
	width: 60%;
}

.trading-menu div{
	vertical-align: center;
	position:relative;
	display:inline-block;
	float:right;
	padding-left:5%;
	color:$light-blue;
	text-align: center;
}

.tm1{
	font-family: 'DIN';
	font-size: 14px;
	padding-top: 1.4%;
}

.tm2{
	font-family: 'DIN';
	font-size: 11px;
	padding-top: 2.4%;
}

.menu-spacer{
	padding-left: 3% !important;
}

.trading-extra-options{
	background:$light-grey;
	padding:1% 5% 2% 5% ;
	width:90%;
	display:none;
}

.trading-extra-options div{
	float:left;
	padding-right: 2%;
	width:18%;
	font-size: 12px;
	color:$light-blue;
	font-family: 'DIN-light-alt';
	letter-spacing: 1px;

}

.trading-extra-options div input{
	width:95%;
	padding:8px;
	margin-top: -2%;
	border-radius: 5px;
	border: 1px solid $light-blue;
	background: linear-gradient(rgba(75, 213, 230, 0.10),rgba(75, 213, 230, 0.10));
	font-family:'DIN';
	font-size: 14px;
	letter-spacing: .88px;

}
.trading-extra-options div select{
	width:100%;
	margin-top: -2%;
	padding:8px;
	border: 1px solid $light-blue;
	background: linear-gradient(rgba(75, 213, 230, 0.12),rgba(75, 213, 230, 0.12));
	font-family:'DIN';
	font-size: 14px;
	letter-spacing: .88px;
}


.trading-column-names{
	width:90%;
	background:$egg-white;
	position:relative;
	font-size: 13px;
	font-family: 'DIN-bold';
	color:$dark-blue;
}

thead{
	padding:.7% 5% .7% 5%;
}

.trading-table{
    width: 100%;
    min-height: 65vh;
    background-color: #23252C;
}

.trading-table table{
	width:100%;
	table-layout: fixed;
}


.trading-column-names th{
	text-align: left;
	padding: 1% 0 1% 0;
	font-size: 1.35vmin;
}

.trading-column-rows td{
 font-size: 13px;
 font-family: 'DIN';
  overflow: hidden;
  border-right:1px solid rgba(62, 90, 90, 0.56);
  text-align: left;
  color:$light-blue;
  padding: 1%;
  word-wrap:break-word !important;
}

.trading-column-rows{
	border-bottom:1px solid rgba(62, 90, 90, 0.56);
}


.mid{
	width:6%;

}

.bigger-column{
	width:16%;
}

.end{
	width:5%;
}


.house-row{
	border-left:1px solid rgba(62, 90, 90, 0.56);
}
